<label>Select Report</label><br>

<select autofocus name="reports" id="report">
    <option value="LName">All Customers- Sorted by Customer Last Name, First Name</option>
    <option value="sales">All Customers- Sorted by Current Total Sales Decreasing</option>
    <option value="random">Promotional Giveaway (Not Repeating)</option>
</select>


