<%- include("_header") -%>
<div>
    Enter a file name and click "Export Customers" 
</div>
<form action="/export" method="post">
    File Name
    <input type="text" id= "name" value="export.txt">
    <input type="submit" id="submit" value="Export Customers">
</form>

<% if(message.substring(0,5) === "Error") { %>
    <h2>Error!</h2>
    <p><%= message %></p>
<% } %>

<%- include("_footer") -%>