<%- include("_header") -%>
<h2>Customer Import</h2>

<div style="padding-top: 10px;">Total number of records in the database: <%= totRecs %> <br></div>
<div style="padding-top: 10px;">Select a file with Customers for Database Insert</div> 
<form style="padding-top: 10px;">
    <input type="file" name="filename" required><p></p>
    <input class="btn btn-info" type="submit" value="Import Customers" required>
</form>

<p id="result"></p>

<script>
    
    document.querySelector("form").addEventListener("submit", e => {
      
      e.preventDefault();
      
      const formData = new FormData(e.target);
      
      fetch("/import", {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
            const resultElement = document.getElementById("result");
            if (data.substring(0,6) === "Error") {
                resultElement.innerText = `Error occurred!  ${data}`
            } else {
                resultElement.innerText = data;
            };
        })
        .catch(err => {
            document.getElementById("message").textContent = `Error: ${err.message}`;
        });
    });
    </script>

<%- include("_footer") -%>