<%- include("_header") -%>

<h3>Find Customer</h3>

<form action="/manage" method="post">
  <div class="form-horizontal">
    
    <%- include("_find") -%>

    
 

</form><br>

<%- include("_footer") -%>